<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kvaldarbs">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomTheme"
        android:allowBackup="false">
        <activity android:name=".profile.DetailActivity" />
        <activity android:name=".authentication.SplashscreenActivity" />
        <activity android:name=".orderflow.OrderHostActivity" />
        <activity android:name=".profile.ProfileHostActivity" />
        <activity android:name=".profile.OffersActivity" />
        <activity android:name=".profile.OrdersActivity" />
        <activity android:name=".authentication.Register" />
        <activity android:name=".mainpage.MainScreen" />
        <activity android:name=".authentication.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".offerflow.OfferFlowScreen"
            android:parentActivityName=".mainpage.MainScreen" />
    </application>

</manifest>